<div class="row">
  <div class="col-xs-12">
    <h1>User List</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button pButton ui-button-secondary label="Add New User" icon="pi pi-plus" (click)="addUser()" 
    style="margin-bottom:1em" *ngIf="authenticatedUser.admin"></button>
  </div>
</div>

<p-table [value]="users" [responsive]="true" *ngIf="users && users.length">
    <ng-template pTemplate="header">
        <tr>
          <th>Options</th>
          <th>Name</th>
          <th>Email Address</th>
          <th>Mobile Number</th>
          <th>Roles</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
          <td> 
            <button pButton ui-button-secondary label="Edit" icon="pi pi-pencil" (click)="rowSelected(user)"></button>
          <td>{{user.username}}</td>
          <td>{{user.emailAddress}}</td>
          <td>{{user.mobileNumber}}</td>
          <td>{{formatRoles(user.roles)}}</td>
        </tr>
    </ng-template>
</p-table>

