<div class="row">
  <div class="col-xs-12">
    <h1>Create User</h1>
  </div>
</div>

<div *ngIf="errorMessage" style="margin-bottom:1.5rem">
      <div *ngFor="let msg of errorMessage">
        <p-message severity="error" text="{{msg.param}} : {{msg.msg}}"></p-message>
      </div>
</div>

<div *ngIf="successMessage">
    <p>
      <p-message severity="success" text="{{successMessage}}"></p-message>
    </p>
</div>

<form [formGroup]="userForm" (ngSubmit)="updateUser()">
   <div class="p-grid" style="padding-left:0.5rem">
    <label class="p-col-12" for="username">Username</label>
    <input pInputText name="firstName" id="username" type="text" formControlName="username" maxLength="16" size="25">
    <div class="alert alert-danger" *ngIf="userForm.get('username').hasError('required') && userForm.get('username').touched">Username is required.</div>
 
    <label class="p-col-12" for="emailAddress">Email Address</label>
    <input pInputText name="lastName" id="emailAddress" type="text" formControlName="emailAddress" maxLength="40" size="40">
    <div class="alert alert-danger" *ngIf="userForm.get('emailAddress').hasError('required') && userForm.get('emailAddress').touched">Email address is required.</div>
    <div class="alert alert-danger" *ngIf="userForm.get('emailAddress').hasError('email') && userForm.get('emailAddress').touched">Invalid email format.</div>
  
    <label class="p-col-12" for="mobileNumber">Mobile Number</label>
    <input pInputText name="lastName" id="mobileNumber" type="text" formControlName="mobileNumber" maxLength="10" size="12">
    <div class="alert alert-danger" *ngIf="userForm.get('mobileNumber').hasError('required') && userForm.get('mobileNumber').touched">Mobile Number is required.</div>
 
    <label class="p-col-12" for="role">User Roles</label>
    <p-multiSelect [options]="availableRoles" formControlName="selectedRoles" optionLabel="label" [filter]="false" [showToggleAll]="false"></p-multiSelect>
  </div>
  <button pButton ui-button-secondary type="submit" label="Update user" [disabled]="!userForm.valid" icon="pi pi-plus" style="margin-top:0.5rem"></button>
</form>
