<form [formGroup]="userForm" (ngSubmit)="addUser()">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" name="firstName" id="username" type="text" formControlName="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" name="lastName" id="password" type="text" formControlName="password">
  </div>
  <div class="form-group">
    <label for="emailAddress">Email Address</label>
    <input class="form-control" name="lastName" id="emailAddress" type="text" formControlName="emailAddress">
  </div>
  <div class="form-group">
    <label for="mobileNumber">Mobile Number</label>
    <input class="form-control" name="lastName" id="mobileNumber" type="text" formControlName="mobileNumber">
  </div>
  <div class="form-group">
    <label for="role">User Roles</label>
    <select multiple class="form-control" name="role" id="role" formControlName="roles">
      <option *ngFor="let userRole of roles" [ngValue]="userRole">{{userRole}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!userForm.valid">Add user</button>
</form>