<div class="row">
  <div class="col-xs-12">
    <h1>Create User</h1>
  </div>
</div>

<div *ngIf="errorMessage" style="margin-bottom:1.5rem">
      <div *ngFor="let msg of errorMessage">
        <p-message severity="error" text="{{msg.param}} : {{msg.msg}}"></p-message>
      </div>
</div>

<div *ngIf="successMessage">
    <p>
      <p-message severity="success" text="{{successMessage}}"></p-message>
    </p>
</div>

<form [formGroup]="userForm" (ngSubmit)="addUser()">
   <div class="p-grid" style="padding-left:0.5rem">
    <label class="p-col-12" for="username">Username</label>
    <input pInputText name="firstName" id="username" type="text" formControlName="username" maxLength="16" size="25">
    <p-message severity="error" text="Username is required" *ngIf="userForm.get('username').hasError('required') && userForm.get('username').touched"></p-message>
    
    <label class="p-col-12" for="password">Password</label>
    <input pInputText name="lastName" id="password" type="password" formControlName="password" maxLength="16" size="25">
    <p-message severity="error" text="Password is required" *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched"></p-message>

    <label class="p-col-12" for="emailAddress">Email Address</label>
    <input pInputText name="lastName" id="emailAddress" type="text" formControlName="emailAddress" maxLength="40" size="40">
    <p-message severity="error" text="Email address is required" *ngIf="userForm.get('emailAddress').hasError('required') && userForm.get('emailAddress').touched"></p-message>
    <p-message severity="error" text="Invalid email format" *ngIf="userForm.get('emailAddress').hasError('email') && userForm.get('emailAddress').touched"></p-message>
   
    <label class="p-col-12" for="mobileNumber">Mobile Number</label>
    <input pInputText name="lastName" id="mobileNumber" type="text" formControlName="mobileNumber" maxLength="10" size="12">
    <p-message severity="error" text="Mobile Number is required" *ngIf="userForm.get('mobileNumber').hasError('required') && userForm.get('mobileNumber').touched"></p-message>

    <label class="p-col-12" for="role">User Roles</label>
    <p-multiSelect [options]="availableRoles" formControlName="selectedRoles" optionLabel="label" [filter]="false" [showToggleAll]="false"></p-multiSelect>
  </div>
  <button pButton ui-button-secondary type="submit" label="Add user" [disabled]="!userForm.valid" icon="pi pi-plus" style="margin-top:0.5rem"></button>

</form>