<ng-template #userTemplate>How are you {{securityObject.username}}? 
  <div><p>Put <b>HTML</b> in here.</p></div>
</ng-template>

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand active" routerLink="/dashboard">Home<span class="sr-only">(current)</span></a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect
                *ngIf="securityObject.admin">
                User Management<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/userlist" *ngIf="securityObject.admin">List Users</a>
                  <div class="divider dropdown-divider">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                  </div>
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/adduser" *ngIf="securityObject.admin">Add User</a>
                </div>
            </li>

            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect
                *ngIf="securityObject.isAuthenticated">
                Books<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/booklist" *ngIf="securityObject.admin || securityObject.member">Booklist</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li>
              <a mdbBtn floating="true" mdbWavesEffect
                  mdbPopoverHeader="My Profile"
                  [mdbPopover]="userTemplate"
                  *ngIf="securityObject.isAuthenticated">
                  <mdb-icon fas icon="user" class="white-text" size="2x"></mdb-icon>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect
               routerLink="login"     
               *ngIf="!securityObject.isAuthenticated">
              Login
            </a>
            <a href="#" class="nav-link waves-light"
               (onclick)="logout()"
               *ngIf="securityObject.isAuthenticated">
              Logout {{securityObject.username}}
            </a>
          </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>

<div class="container body-content">
  <router-outlet></router-outlet>
</div>