<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"
     href="#">Navbar</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="!isCollapsed"
          (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse"
       id="navbarSupportedContent"
       [ngClass]="{'show': !isCollapsed}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="dropdown" dropdown>
          <a href id="basic-link" dropdownToggle 
            routerLink="/userlist" *ngIf="securityObject.admin"
            aria-controls="basic-link-dropdown">
            User Management
          </a>
          <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="basic-link">
            <li>
               <a class="nav-link" *ngIf="securityObject.admin"
                routerLink="/userlist">List Users</a>
            </li>
            <li>
               <a class="nav-link" *ngIf="securityObject.admin"
                routerLink="/userlist">Add User</a>
            </li>
          </ul> 
        </div>
      </li>

      <li class="nav-item active">
        <div class="dropdown" dropdown>
          <a href id="basic-link" dropdownToggle 
            routerLink="/userlist" *ngIf="securityObject.isAuthenticated"
            aria-controls="basic-link-dropdown">
            Books
          </a>
          <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="basic-link">
            <li>
               <a class="nav-link" *ngIf="securityObject.isAuthenticated"
                routerLink="/booklist">List Books</a>
            </li>
          </ul> 
        </div>
      </li>


    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <div  class="dropdown" dropdown>
         <a href id="basic-link" dropdownToggle (click)="false"
            aria-controls="basic-link-dropdown"
            *ngIf="securityObject.isAuthenticated">
            <i class="fas fa-user fa-lg" style="color: #339af0;padding-right:0.5em"></i>
          </a>
          <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="basic-link">
            <li>
              Hi There
            </li>
          </ul> 
        </div>
      </li> 
      <li>
        <a routerLink="login" 
           *ngIf="!securityObject.isAuthenticated">
          Login
        </a>
        <a href="#" (onclick)="logout()"  
           *ngIf="securityObject.isAuthenticated">
          Logout {{securityObject.username}}
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container body-content">
  <router-outlet></router-outlet>
</div>